//VARIABLES
//Colors
$colorWhite: #FFF;
$colorCharcoal: #2B2B2B;
$colorGold: #F5A623;
$colorRed: #FF0000;
$color000: #000;
$color666: #666;
$color-e0e0e0: #e0e0e0;
$color-27AE61: #27AE61;
$color-EB5757: #EB5757;
$color-4F4F4F: #4F4F4F;
$color-2C9CDB: #2C9CDB;
$color-f2f2f2: #f2f2f2;
$color-bbb: #bbb;
$color-eee: #eee;
$color-e8e8e8: #e8e8e8;


//Fonts
$fontFamily: "PT Sans", sans-serif;
// $fontFamily2: "Program OT Bold", Arial, sans-serif;
$fontSize: 16px;
$fontWeight: normal;
